/* header */
header {
    width: 768px; height: 33px;
    margin: 0 auto;
}
header #language {
    padding: 5px 10px;
    float: right;
    border: 1px solid #aaa;
}
header .language option {}
/* footer */
footer {
    width: 100%; margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer .law {
    margin:0 0 10px;
}
footer .law a {
    font-size: 0.75rem;
    
}
footer .law a::after {
    background-color: #aaa; width: 1px; height: 10px;
    content: ''; display: inline-block;
    position: relative; top: 1px;
    margin: 0 3px 0 3px;
}
footer .law a:last-child:after {
    display: none;
}
footer p {
    font-size: 0.75rem;
}